/* 
    Document   : wishlist
    Created on : Sep 17, 2010, 2:49:00 AM
    Author     : Nilay
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    background-color: #ccffff;
}

input {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.showWishList {
    position: absolute;
    left: 70%;
    width: 15%;
    top: 70%;
}

.createWishList {
    position: absolute;
    left: 33%;
    top: 60%;
    color: blue;
    font-size: 30px;
}

.logon {
    position: absolute;
    left: 70%;
    width: 15%;
    top: 5%;
}

.logo {
    position: fixed;
    left: 10px;
    width: 80%;
    top: 10px;
}

.error {
    color:red;
    font-weight:bold;
}

.welcome {
    top: 10%;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    color: teal;
}

.enterData {
    position: relative;
    left: 35%;
    vertical-align: top;
}

.button {
    top: 40%;
    text-align: center;
}

.table {
    position: absolute;
    top: 20%;
    left: 20%;
}

.buttonsOnEditWishList {
    position: absolute;
    top: 20%;
    right: 20%;
}

