 /**BASIC **/
body,h1, h2, h3,h4,h5,h6,p,ol,ul,form,blockquote{
	padding:0;
}
body{
	font: "Gill Sans","Trebuchet MS",Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

p,ul,ol,blockquote{
	text-align: justify;
	line-height: 1.5em;
	margin-bottom: 1em;
} 

h1,h2,h3{
    color:#254d81;
    font-weight: 300;
}

/*h1{
    font-size: 18px;
}*/

a{
    color:#254d81; 
    text-decoration: none;
}
a img{
    border: none;
}
	
a:hover{
     color: #444444;
}
a:hover img{
    border-bottom: none;
}

p a:hover, li a:hover{
    
}
	
/*WRAPPER*/
#wrapper{
	
}
#wrapper_inner{
	margin: 0px;
        padding: 10px;
        margin-bottom: 10px;
	min-height: 530px;
	float: left;
        border: 1px solid #dadada;
        background: #ffffff;
        border-top:0;
}

/*HORIZONTAL NAVIGATION*/
.solidblockmenu{

    height: 40px;
    border:1px solid #dadada;
    background: #dadada url('../img/blockdefault.gif') top center repeat-x;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.solidblockmenu ul{
    margin: 0;
    padding: 0;    
    font: bold 14px Arial;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
}

.solidblockmenu li{
    display: inline;
}

.solidblockmenu li a{
    float: left;
    color: #dadada;
    padding: 12px 11px;
    text-decoration: none;
    border-right: 1px solid white;
}

/*SECONDARY MENU*/
#secondary_menu span{
    float: right;
    margin-right: 17px;
}

span#cart_price{
    font-size: 15px;
}

p{
    text-align: left;
}

.solidblockmenu li a{
  color: #324350;
}

.solidblockmenu li a:hover, .solidblockmenu li .current{
    color: #324350;
    background: transparent url('../img/blockactive.gif') center center repeat-x;
}

/*SEARCH BAR*/
#search_bar{
    /*
    height: 45px;
    */
    padding-left: 30px;
    padding-right: 30px;
    background: #dadada url('../img/blockdefault.gif') center center repeat-x;
    border: 1px solid #dadada;
}

#search_bar select {
    margin-left: 10px;
}

#searchbox {
    border: 1px solid #dadada;
    padding: 3px;
    height: 1em;
    width: 408px;
}

#search_button {
    padding: 3px;
    margin-top: 2px;
}

/*LEFT COLUMN NAV*/
.arrowlistmenu{
    min-height:550px;
    width: 200px;
    background: #ffffff url('../img/rightnav_bg.png') repeat-x top right;
    float:left;
    border: 1px solid #dadada;
    border-top: 0;
    border-right: 0;
}

.arrowlistmenu .headerbar{
    font: bold 14px Arial;
    color: #444444;
    background: #dadada url('../img/blockdefault.gif') bottom left repeat-x;
    margin-bottom: 10px; /*bottom spacing between header and rest of content*/
    padding: 4px 0 4px 10px; /*header text is indented 10px*/
    height:25px;
}

.arrowlistmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
    padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
    background: url(media/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
    display: block;
    padding: 2px 0;
    padding-left: 19px; /*link text is indented 19px*/
    text-decoration: none;
    font-weight: bold;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
    color: #444444;
    background-color: #F3F3F3;
    text-decoration: none;
    border-bottom: none;
}

/*MAIN CONTENT*/
#main_content{
    width: 535px;
    min-height: 450px;
    background: #172435;
    float: left;
    padding: 10px;
    margin: 0px;
}

.content_wrapper{
    min-height: 240px;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    padding: 10px;
    margin: 0 auto;
    background: #ffffff url('../img/bottom_fade.png') repeat-x bottom left;
}
 
.rgt_border_column{
    background: #ffffff;
    border-right: 1px solid #dadada;
    margin: 5px;
    float: left;
    padding: 3px;
}
.mid_column{
    background: #ffffff;
    border-right: 1px solid #dadada;
    margin: 5px;
    float: left;
    padding: 3px;
}
.lft_border_column{
    background: #ffffff;
    margin: 5px;
    float: left;
    padding: 3px;
}

/*FOOTER*/
#footer{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #dadada;
    float: left;
    
}

#footer p {
    margin: 0 auto;
    text-align: center;
}

/*BOOK DETAILS PAGES*/
h1#title {
    font-size:2em;
    margin-bottom:0.25em;
}

img#cover {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

span.subtitle {
    font-size: 18px;
}

p#new_price_container span.new_price {
    font-weight: bold;
    color: #3c3;
    font-size: 20px;
}

p#new_price_container {
    font-size: 18px;
}

div.buttons button {
    float: right;
    clear: right;
}

ul#subnav {
    display: block;
    list-style-image: none;
    list-style-type: none;
    padding-left: 1em;
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
}

ul#subnav li {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    margin-right: 2em;   
}

ul#used_books {
    border: 1px solid #EEEEFF;
}

ul#used_books li {
    list-style-image: none;
    list-style-type: none;
    height: 2.5em;
}

ul#used_books li.even {
    background-color: #eef;
}

ul.rating_stars {
    display: inline;
}

ul.rating_stars li.rating_star {
    list-style-image: none;
    list-style-type: none;
    float: left;
}

/*SIGN IN PAGE*/
form#sign_in {
    padding: 3em;
    margin-top: 10em;
    border: 1px solid #ddd;
    background-color: #eee;
}

form button {
    float: right;
}

/*BOOKS LISTING PAGE*/
div.results-info {
    padding: 3px;
}

div.results-info select{
    margin: 0.25em 0 0 0;
}

div.pagn ul {
    margin: 0.25em 0 0 0;
}

div.pagn ul li{
    list-style-image: none;
    list-style-type: none;
    display: inline;
    font-size: 14px;
}

ul#books_list {
    border:1px solid #EEEEFF;
}

ul#books_list li {
    list-style-image: none;
    list-style-type: none;
    margin-top: 1.5em;
    padding:5px;
    width:700px;
}

ul#books_list li.top {
    margin-top: 0;
}

ul#books_list li.even {
    background-color: #eef;
}

ul#books_list div.title_space {
    margin-bottom: 0.5em;
}

ul#books_list h2.title {
    font-size: 18px;
    margin: 0 auto 0.25em auto;
}


ul#books_list h2.title a.link{
    font-size: 18px;
}

ul#books_list h2.title a.visited{
    font-size: 18px;
}

ul#books_list h2.title hover{
    font-size: 18px;
    text-decoration: underline;
}

ul#books_list h2.title a.active{
    font-size: 18px;
}

ul#books_list li.book table {
    margin-bottom: 0;
}

ul#books_list li.book td {
    vertical-align: bottom;
}

ul#books_list li.book p {
    margin-bottom: 0;
}

ul#books_list li.book p.price {
    font-size: 18px;
}

ul#books_list li.book p.price span.used_price, ul#books_list li.book p.price span.new_price {
    color: #3c3;
    font-weight: bold;
}

ul#books_list li.book td.buttons {
    text-align: right;
}

ul#books_list li.book p.cc_savings {
    border: 1px solid #00f;
    background-color: #c2c4fb;
}

ul#books_list li.book p.cc_savings span {
    color: #00f;
    font-weight: bold;
}


/*SHOPPING CART*/
ul#cart_contents input {
    margin: 0;
    width: 30px;
    height: 1em;
}

ul#cart_contents li {
    list-style-image: none;
    list-style-type: none;
    border: 1px solid #eef;
}

ul#cart_contents li .even {
    background-color: #eef;
}

/*FORM ELEMENTS*/
input#user_name, input#email, input#password2, input#password1, input#address1, input#address2, input#state, input#city, input#zip, textarea#description, input#new_password{
	width: 250px;
	border: 1px solid #d6d7de;
	padding: 3px 0;
	}

.form_box{
         border: 1px solid #dadada;
         background: #fcfcfc;
         width: 600px;
         margin: 10px auto;
         padding: 10px;
}

.form_box .label {
	float: left;
	clear: left;
	width: 150px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
}